.header {
    // background: rgb(0, 16, 36);
    background: linear-gradient(90deg, rgba(0, 16, 36, 1) 0%, rgba(29, 22, 110, 1) 0%, rgba(25, 58, 74, 1) 36%, rgb(7, 41, 10) 100%, rgba(0, 146, 255, 1) 100%);
    padding: 15px;

    &-main {
        display: flex;
        justify-content: space-around;

        &__end {
            // display: flex;
            // justify-content: space-between;
            gap: 15px;

            &-button {
                display: flex;
                align-items: center;
                background: hsla(138, 27%, 47%, 0.409);
                color: #fff;
                font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
            }
        }

       
    }

    &-main__menu{
        display: flex;
            gap: 55px;
            align-items: center;

        &-link{
            color: rgb(99, 255, 195);
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 14px;
            color: white;
        }
    }

}

.section__main-1{
    background-color: #0D111B;
    height: 1440px;
    

    .banner{
        top: 200px;

        &-title{
            font-size: 56px;
            background:-webkit-linear-gradient(top left, #fff, rgba(60, 61, 61, 0.881));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }

        &-text{
            color: #ffffff85;
            
        }
    }

}

.container__left{
    padding-left: calc((100% - 1415px) / 2);
    width: 100% !important;
  }
  
  .Home_header_img{
    flex-grow: 1;
    text-align: right;
    
    
  }



