.header {
    // background: rgb(0, 16, 36);
    background: linear-gradient(90deg, rgba(0, 16, 36, 1) 0%, rgba(29, 22, 110, 1) 0%, rgba(25, 58, 74, 1) 36%, rgb(7, 41, 10) 100%, rgba(0, 146, 255, 1) 100%);
    padding: 15px;

    &-main {
        display: flex;
        justify-content: space-around;

        &__end {
            // display: flex;
            // justify-content: space-between;
            gap: 15px;

            &-button {
                display: flex;
                align-items: center;
                background: hsla(138, 27%, 47%, 0.409);
                color: #fff;
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;
            }
        }


    }

    &-main__menu {
        display: flex;
        gap: 55px;
        align-items: center;

        &-link {
            color: rgb(99, 255, 195);
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 14px;
            color: white;
        }
    }

}


.section__main-1 {
    background-image: url(./images/Rectangle.svg);
    background-color: #0D111B;
    // height: 1240px;
    margin-top: -2px;


    .banner {
        top: 200px;

        &-title {
            width: 595px;
            font-size: 56px;
            background: -webkit-linear-gradient(top left, #fff, rgba(60, 61, 61, 0.606));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        &-text {
            color: #ffffff85;
            width: 550px;
            font-size: 18px;

        }
    }

    .info__item {
        background-color: rgb(27, 30, 41);
        border-radius: 8px;
        width: 353px;
        height: 460px;
        color: #ffffffae;
        padding-top: 20px;
        padding-left: 22px;
        margin-bottom: 50px;
        margin-left: 200px;
        display: table-caption;


        &-text2 {
            font-size: 16px;
        }

        &-title {
            color: #fff;
        }

        &-text {
            // font-family: var(--font-family);
            // font-weight: 400;
            width: 281px;
            font-size: 16px;
            line-height: 137%;
            padding-bottom: 15px;
            // padding-top: 10px;
        }

        &-button {
            z-index: 1;
            margin-top: 15px;
            width: 550px;
            font-size: 18px;
            border-radius: 12px;
            padding: 12px, 32px;
            width: 224px;
            height: 54px;
            background: #1D9A6D;
        }

        &-gears {
            margin-left: 45px;
            bottom: 0;
            position: absolute;
            border-radius: 8px;
        }

        &-arrow {
            margin-left: 89px;
            bottom: 0;
            position: absolute;
            border-radius: 8px;
        }

        &-world {
            margin-left: 115px;
            bottom: 0;
            position: absolute;
            border-radius: 8px;
        }
    }

}



.Carousel {
    // display: flex;
    // justify-content: center;

    .info {
        display: flex;
        justify-content: center;
    }


}

.container__left {
    padding-left: calc((100% - 1415px) / 2);
    width: 100% !important;
}

.Home_header_img {
    flex-grow: 1;
    text-align: right;

    &-bitcoin {
        display: flex;
        align-items: center;
        position: absolute;
        top: 300px;
    }

}

.section__main-2 {
    background-color: #0D111B;
    // height: 3000px;

    padding-top: 240px;
    display: flex;
    justify-content: center;

    .Partners-title {

        font-family: var(--font4);
        font-weight: 700;
        line-height: 109%;
        color: #ffffff28;
        font-size: 180px;
        z-index: 2;

        margin-top: auto;

    }

}



.Partmers_info {
    width: 700px;
    z-index: 1;
    color: #fff;
    margin-top: -155px;
    padding-left: 170px;

    &-title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 42px;
        line-height: 102%;
        background: linear-gradient(138deg, #fff 0%, rgba(176, 250, 255, 0.293) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 25px;
    }

    &-text {
        font-size: 18px;
        line-height: 170%;
    }

    .Swap {
        background-color: #151822;
        width: 493px;
        height: 72px;
        border-radius: 8px;
        margin-top: 50px;

        &-button {
            background-color: rgb(4, 4, 64);
            border-radius: 37px;
            border: 1px solid rgb(4, 4, 64);
            width: 68px;
            height: 26px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 113%;
            color: white;
            margin-top: 8px;
            margin-left: 15px;
        }

        &-text {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            line-height: 178%;
            color: white;
            padding-left: 15px;
        }

        &-image {
            margin-top: -50px;
            margin-left: 440px;
        }
    }

}

.Partners-icon {
    width: 687px;
    z-index: 1;
    margin-top: -200px;
    margin-left: 330px;
    gap: 10px;

    .google {
        margin-top: -280px;
        margin-left: 130px;
    }

    .yahoo {
        margin-top: -75px;
        margin-left: 120px;
    }

    .w {
        margin-left: -60px;
        margin-top: -40px;
    }

    .nasdaq {
        margin-top: -250px;
        margin-left: 127px;
    }

    .grop1 {
        margin-top: -220px;
        margin-left: 350px;
    }

    .ods {
        margin-top: -65px;
        margin-left: 20px;
    }

    .yandex {
        margin-top: -140px;
        margin-left: 170px;
    }

    .ambev {
        margin-top: -270px;
        margin-left: 270px;
    }

}

.section__main-3 {
    background-image: url(./images/Rectangle.svg);
    // height: 650px;
    // margin-top: -2035px;
    background-color: #0D111B;
    padding-top: 150px;

    .Wallet {
        width: 900px;

        &-title {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 42px;
            line-height: 102%;
            background: linear-gradient(138deg, #fff 0%, rgba(176, 250, 255, 0.269) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-text {
            padding-top: 15px;
            padding-bottom: 20px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            line-height: 178%;
            color: white;
        }

        &-image {
            margin-left: 180px;
        }

        &_icons {
            gap: 20px;
            padding-top: 25px;
            padding-bottom: 25px;

            .icon {
                color: #636D85;
                transform: scale(1.8);
            }
        }

        &-button {
            margin-top: 15px;
            color: #8886FF;
            background-color: rgba(255, 255, 255, 0.064) !important;
            border: 1px solid rgba(255, 255, 255, 0.064);

            .icon2 {
                color: #636D85;
                transform: scale(1.8);
                margin-right: 20px;
            }
        }
    }
}

.container__left2 {
    padding-left: calc((100% - 1215px) / 2);
    width: 100% !important;
}

.section__main-4 {
    // height: 1385px;
    background-color: #0D111B;
    display: flex;
    justify-content: center;

    .Regiration {
        display: flex;
        justify-content: center;
    }

    .Steps {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;


        &-title {
            font-family: var(--font4);
            font-weight: 700;
            font-size: 180px;
            line-height: 109%;
            color: #ffffff11;
            display: flex;
            justify-content: center;
        }

        &__info {
            position: absolute;
            width: 500px;
            top: -50px;


            &-title {
                font-family: var(--second-family);
                margin-top: -80px !important;
                padding-bottom: 10px;

                font-size: 42px;
                line-height: 102%;
                text-align: center;
                background: linear-gradient(138deg, #ffffff 0%, rgba(255, 255, 255, 0.447) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &-text {
                width: 500px;
                display: flex;
                justify-content: center;


                padding-bottom: 50px;
                font-family: var(--font-family);

                font-size: 18px;
                line-height: 178%;
                text-align: center;
                color: rgba(255, 255, 255, 0.662);
            }
        }

    }

    &__Registration {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 20px;
        margin-bottom: 50px;




    }


}

.Block-area {
    background-image: url(./images/Rectangle.svg);
    border-radius: 28px;
    width: 1100px;
    // height: 402px;
    margin-top: 100px;
    z-index: 1;
    // align-content: center;
    margin-left: calc((100% - 90%));

    // position: absolute;
    padding-left: 70px;
    // margin-left: 50px;

    padding-top: 50px;

    // .Block-main{

    // }


    &-text {
        width: 507px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 178%;
        color: white;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    &-title {
        background: linear-gradient(138deg, #ffffff 0%, rgba(255, 255, 255, 0.447) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-2 {
        display: flex;

        &-input {
            width: 700px;
            height: 65px;
            border-radius: 8px;
            background-color: rgba(51, 49, 49, 0.721) !important;
            color: #fff !important;
            margin-top: 35px;
            padding-left: 15px;
            margin-bottom: 25px;
            border: 1px solid rgba(51, 49, 49, 0.721);
        }

        &-button {
            z-index: 1;
            display: flex;
            justify-content: center;
            margin-left: -152px;
            width: 150px;
            height: 50px;
            border-radius: 90px;
            background-color: #1D9A6D;
            color: white;
            align-items: center;
            margin-top: 41px;
            border: 1px solid #1D9A6D;
        }
    }

}

.Registration__getting {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 60px;
    border-radius: 8px;
    width: 400px;
    height: 242px;
    background-color: #151822;
    padding-left: 20px;

    &-1 {
        display: flex;
        align-items: center;

        &-text {
            color: #fff;
            padding-top: 20px;


        }

        &-line {
            width: 330px;
            border-bottom: 1px solid #ffffff9f;
            margin-left: 15px;
            padding-top: 20px;
        }
    }

    &-title1 {
        color: #fff !important;
    }

    &-image {
        bottom: 0;
        position: absolute;
        right: 0;
    }

    &-button {
        z-index: 1;
        top: 30px;
        border-radius: 12px;
        padding: 16px 32px;
        width: 133px;
        height: 54px;
        background-color: #1D9A6D;
    }

    &-button2 {
        z-index: 1;
        top: 76px;
        border-radius: 12px;
        padding: 16px 32px;
        width: 133px;
        height: 54px;
        background-color: #1D9A6D;
    }


}

.section__main-5 {
    background-image: url(./images/Rectangle2.svg);
    background-color: #0D111B;
    // height: 1240px;
    margin-top: -2px;

    .banner-2 {
        top: 200px;

        &-title {
            width: 595px;
            font-size: 56px;
            background: -webkit-linear-gradient(top left, #fff, rgba(60, 61, 61, 0.606));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        &-text {
            color: #ffffff85;
            width: 550px;
            font-size: 18px;

        }

        .Home_header_img2 {
            flex-grow: 1;
            text-align: right;
            display: flex;
            align-items: center;

        }
    }

    .case-title {
        color: #ffffff0e;
        font-size: 200px;
        text-align: center;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .case {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;




            &-block {
                z-index: 1;
                border-radius: 16px;
                width: min-content;
                background-color: rgb(145 140 140 / 15%);
                border: 1px solid rgb(145 140 140 / 15%);


                .case_row {
                    display: flex;
                    flex-wrap: wrap;
                    color: #fff;
                    padding: 25px;

                    &-col1 {
                        width: 579px;

                        &-title {
                            font-size: 42px;
                            padding-bottom: 20px;
                        }

                        &-text {
                            font-size: 16px;
                            width: 500px;
                        }
                    }

                    &-col2 {
                        width: 442px;

                        &-content {
                            display: flex;

                            &-title {
                                font-size: 30px;
                            }


                        }

                        &-text {
                            padding-top: 18px;
                        }
                    }

                    &-cols {
                        gap: 50px;
                        margin-top: 30px;

                        &-col3 {
                            width: 305px;

                            .content {
                                display: flex;
                            }

                            &-text {
                                font-size: 16px;
                            }
                        }

                        .content {
                            display: flex;
                        }

                        &-col4 {
                            width: 332px;
                        }

                        &-col5 {
                            width: 286px;
                        }


                    }

                    .cols-text {
                        font-size: 16px;
                    }
                }
            }
        }

        .frame-img {
            display: flex;
            justify-content: center;
            margin-top: -270px;
        }
    }

    .info__item {
        background-color: rgb(27, 30, 41);
        border-radius: 8px;
        width: 353px;
        height: 460px;
        color: #ffffffae;
        padding-top: 20px;
        padding-left: 22px;
        margin-bottom: 50px;



        &-title {
            color: #fff;
        }

        &-text {
            // font-family: var(--font-family);
            // font-weight: 400;
            width: 281px;
            font-size: 16px;
            line-height: 137%;
            padding-bottom: 15px;
            // padding-top: 10px;
        }

    }

}

.section__main-6 {
    background-image: url(./images/Rectangle3.svg);
    background-color: #0D111B;
    // height: 1008px;
    margin-top: -2px;
}



.section__main-7 {
    background-color: #0D111B;
    // height: 1958px;
    margin-top: -2px;
    display: flex;
    justify-content: center;

    .Steps {
        display: flex;
        justify-content: center;

        &__info {
            &-title {
                font-family: var(--second-family);
                margin-top: 50px !important;
                padding-bottom: 10px;

                font-size: 42px;
                line-height: 102%;
                text-align: center;
                background: linear-gradient(138deg, #ffffff 0%, rgba(255, 255, 255, 0.447) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &-text {
                width: 472px;
                display: flex;
                justify-content: center;


                padding-bottom: 50px;
                font-family: var(--font-family);

                font-size: 18px;
                line-height: 178%;
                text-align: center;
                color: rgba(255, 255, 255, 0.662);
            }
        }
    }

    .Steps2 {
        display: flex;
        justify-content: center;

        &__Registretions {
            margin-bottom: 80px;

            
        }
        .Registrations__getting{
            margin-bottom: 30px;
            margin-left: 10px;
            margin-right: 60px;
            border-radius: 8px;
            width: 400px;
            background-color: #151822;

            padding-left: 30px;
            height: 210px;

            &-title{
                color: #fff;
                font-size: 32px;
                width: 211px;
                padding-top: 20px;
            }

            &-text{
                font-size: 16px;
                color: gray;
            }

            &-link{
                color: gray;
                padding-top: 20px;
                text-align: center;

                &-icon{
                    margin-left: 30px;
                }
            }
        }
    }
}



.answers {
    display: flex;
    justify-content: center;

    &-info2 {
        display: flex;
        gap: 30px;

        &-button1 {
            background-color: #1D9A6D;
            border-radius: 37px;
            padding: 9px, 41px;
            width: 118px;
            height: 50px;
            font-size: 18px;
            border: 1px solid #1D9A6D;
            color: white;
        }

        &-button2 {
            background-color: #1A204A;
            border-radius: 37px;
            padding: 9px, 41px;
            width: 231px;
            height: 50px;
            font-size: 18px;
            border: 1px solid #1A204A;
            color: white;
        }

        &-button3 {
            background-color: #1A204A;
            border-radius: 37px;
            padding: 9px, 41px;
            width: 389px;
            height: 50px;
            font-size: 18px;
            border: 1px solid #1A204A;
            color: white;
        }

        &-button4 {
            background-color: #1A204A;
            border-radius: 37px;
            padding: 9px, 41px;
            width: 197px;
            height: 50px;
            font-size: 18px;
            border: 1px solid #1A204A;
            color: white;
        }

        &-input {
            width: 470px;
            height: 65px;
            border-radius: 8px;
            background-color: #ffffff21;
            color: #fff;
            margin-top: 35px;
            padding-left: 15px;
            margin-bottom: 25px;
            border: 1px solid #ffffff21;
        }
    }
}

.banner_img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotFound {
    background-image: url(./images/404.png);
    width: 100%;

    &-container {
        display: flex;
        justify-content: center;
    }

    &__content-text1 {
        color: red;
        font-size: 90px;
        display: flex;
        justify-content: center;
    }

    &__content-text2 {
        color: orange;
        font-size: 50px;
        padding-top: 500px;
        display: flex;
        justify-content: center;
    }
}


.section__main-8 {
    background-color: rgb(3 4 16);


    .banner2 {
        color: #fff;
        padding-top: 100px;

        &-title-2 {
            font-size: 56px;
            background: -webkit-linear-gradient(top left, #fff, rgba(60, 61, 61, 0.606));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-input {
            width: 682px;
            height: 65px;
            border-radius: 8px;
            background-color: #ffffff21;
            color: white;
            margin-top: 35px;
            padding-left: 15px;
            margin-bottom: 25px;
            border: 1px solid rgba(51, 49, 49, 0.721);
        }

        &_img {
            flex-grow: 1;
            text-align: right;
            display: flex;
            align-items: center;
            position: absolute;
        }
    }
}


.casket {
    border-radius: 16px;
    width: 1231px;
    height: 654px;
    background: rgb(13 13 13 / 15%);
    border: 1px solid rgb(145 140 140 / 15%);
    padding-top: 40px;
    padding-left: 60px;

    &-title {
        font-size: 42px;
        background: -webkit-linear-gradient(top left, #fff, rgba(60, 61, 61, 0.606));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-text {
        color: grey;
        font-size: 18px;
        padding-top: 20px;
    }

    &-img {
        display: flex;
        justify-content: end;
    }
}

.formm {
    input {
        background-color: #ffffff21 !important;

        &::placeholder {
            color: #fff !important;

        }
    }

    &-text {
        color: #fff;
        font-size: 18px;
        padding-top: 40px;
    }

    &-text2 {
        color: #fff;
        font-size: 18px;
    }

    &-input {
        width: 600px;
        height: 179px;
        border-radius: 8px;
        background-color: #ffffff21;
        color: #fff;
        margin-top: 10px;
        padding-left: 15px;
        margin-bottom: 25px;
        border: 1px solid rgba(51, 49, 49, 0.721);
    }

    &-input2 {
        width: 600px;
        height: 65px;
        border-radius: 8px;
        background-color: #ffffff21;
        color: #fff;
        margin-top: 10px;
        padding-left: 15px;
        margin-bottom: 25px;
        border: 1px solid rgba(51, 49, 49, 0.721);
    }

    &-button {
        background: #1D9A6D;
        border-radius: 12px;
        padding: 10px 24px;
        width: 134px;
        height: 50px;
        font-size: 16px;
        border: 1px solid #1D9A6D;
        color: white;
        margin-top: 20px;
    }
}