.Footer {

    background: #151822;
    padding: 40px 150px 25px 120px;

    &__widgets {
        gap: 170px;
        padding-bottom: 25px;
        border-bottom: 2px solid #000000;





        &-input {
            width: 426px;
            height: 44px;
            border-radius: 8px;
            background-color: rgba(51, 49, 49, 0.721);
            margin-top: 35px;
            padding-left: 15px;
            margin-bottom: 25px;
            border: 1px solid rgba(51, 49, 49, 0.721);


        }


        &-button {
            margin-left: -120px;
            border-radius: 90px;
            background-color: #1D9A6D;
            color: white;
            margin-top: 41px;
            border: 1px solid #1D9A6D;

        }


        .gradient-text {
            font-size: 24px;
            background: -webkit-linear-gradient(top left, #fff, rgba(60, 61, 61, 0.881));
            -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }



    }



}




.Footer__winget {





    &-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;


    }


    &-link {
        color: #ADADAD;
        text-decoration: none;
        margin-top: 20px;
        font-size: 14px;

    }

    &-list {
        padding-top: 10px;
    }


}